html, body  {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: Arial, verdana, sans-serif;
  text-align: center;
  background: teal;
}
a {
  display: inline-block;
  margin: 5px;
  font-size: 16px;
  font-weight: bold;
  background: white;
  padding: 8px 12px;
  border-radius: 2px;
  text-decoration: none;
  transition: all .3s;
}
a:hover {
  transform: scale(1.1);
  transition: all .3s;
}
.text-light {
  color: white;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
}

div.inner {
  padding: 60px;
  display: inline-block;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
  border-radius: 2px;
  @media screen and (max-width: 768px) {
    padding: 40px;
  }
}
div.outer {
  display: inline-block;
  padding: 16px;
  background: white;
  border-radius: 5px;
}











